@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    color: #494C6B;
    background-color: #FAFAFA;
    background-image: url('./images/bg-desktop-light.jpg');
    background-repeat: no-repeat;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 15px;
    color: #ffffff
}
